:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-data-protected: #A18268;
}

/* Base */
body {
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* font-height/font-weight*/
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  
}

/* Header-Link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
  
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantades list */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title .accent {
  color: var(--color-brand-dark);
}


/* Names of formats */
.formats-names {
  color: var(--color-primary-light);
}

/* Footer-link */
.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
}

/* Data`s ptotected */
.data-protected {
  color: var(--color-data-protected);
}

/* Traditions section */
.traditions-text .brand {
  text-transform: uppercase;
}

.traditions-text span {
  color: var(--color-brand-light);
  font-weight: 600;
}

