:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-data-protected: #A18268;
}

/* Base */
body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Header-Link */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantades list */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Accents in p in sections */
.accent {
  color: var(--color-brand-light);
}

/* Names of formats */
.formats-names {
  color: var(--color-primary-light);
}

/* Footer-link */
.footer-link {
  color: var(--color-primary-light);
}

/* Data`s ptotected */
.data-protected {
  color: var(--color-data-protected);
}