* {
    box-sizing: border-box;
}
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    padding: 10px;
    border: 5px solid green;
    border-radius: 10%;
    margin: 10px;


}
.box:nth-child(odd) {
    background-color: gold;
}